<!DOCTYPE html>
<html>
<head>
    <title>QuickManual</title>
</head>
<body>

<h1>マニュアル一覧</h1>

<form method="GET">
    <input type="text" name="q" value="{{ request.GET.q }}" placeholder="マニュアル検索">
    <button type="submit">検索</button>
</form>


<ul>
    {% for manual in manuals %}
        <li>
            {{ manual.title }} - {{ manual.category }}
        </li>
    {% empty %}
    {% if request.GET.q %}
        <li>該当するマニュアルがありません</li>
    {% else %}
        <li>まだマニュアルがありません</li>
    {% endif %}
    {% endfor %}
</ul>



</body>
</html>
